/* Estilos generales */
.Rpastas {
align-items: center;
text-align: center;
align-content: center;
}

.inicio {
    color: green;
    font-weight: bold;
}
.recetas {
    color: green;
    font-weight: bold;
}
.contacto {
    color: green;
    font-weight: bold;
}
.receta{
    border-style: solid;
    border-color: #7ABA96;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .R_footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
  }

  .R_body {
    background-color: #756b59;
  }
  .enlaces{
    color: black;
  }
/* Estilos para las recetas */
.R_nav{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-left-width: 0px;
  color: #7ABA96;
  border-style: solid;
  text-align: center;
}
.imgCenter{
  text-align: center;
}
.texto{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  font-size: large;
  font-weight: bold;
  color: black;
}